<nav class="navbar navbar-dark bg-dark" aria-label="breadcrumb">
  <div class="container-fluid">
    <ol class="breadcrumb">
    <%= link_to 'Home', movies_path, :class => "breadcrumb-item bc-item" %>
    <li class="breadcrumb-item active bc-item" aria-current="page">Edit Movie</li>
  </ol>
  </div>
</nav>

<div class = "new_movie_main">
    <%= render 'form', movie: @movie %>
</div>

