<div class = "main-review">

<nav class="navbar navbar-dark bg-dark" aria-label="breadcrumb">
  <div class="container-fluid">
    <ol class="breadcrumb">
    <%= link_to 'Movie Library', movie_path(@movie), :class => "breadcrumb-item bc-item" %>
    <li class="breadcrumb-item active bc-item" aria-current="page">New Review</li>
  </ol>
  </div>
</nav>




<%= render 'form' %>


</div>
